<div mat-dialog-content>
  <h4>Patient Opd History</h4>
  <div class="card mb-3">
   
    <div id="dataTable_wrapper" class="card-body">
      <div class="table-responsive">
        <table *ngIf="opdHistoryData" class="table table-striped" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
          <thead>
            <tr>
              <th>Date </th>
              <th>Department Name</th>
              <th>DoctorName</th>
              <th>opdNotes</th>
              <th>prescription</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let opdHistory of opdHistoryData">
              <td>{{ opdHistory.opdDate | date:"yyyy-MM-dd" }}</td>
              <td>{{ opdHistory.departmentName }}</td>
              <td>{{ opdHistory.DoctorName }}</td>
              <td>{{ opdHistory.opdNotes }}</td>
              <td>{{ opdHistory.prescription }}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>
