<ul class="nav">
  <li [routerLinkActive]="['link-active']" *ngIf="isAdmin">
    <a [routerLink]="['/home']">
      <i></i>
      Home
    </a>

  </li>
  <li [routerLinkActive]="['link-active']" *ngIf="isAdmin">
    <a [routerLink]="['department']">
      Departments
    </a>
    <ul>
      <li>
        <a [routerLink]="['department/create-department']">
          Create
        </a>
      </li>
      <li>
        <a [routerLink]="['department']">
          List
        </a>
      </li>
    </ul>
  </li>
  <li [routerLinkActive]="['link-active']" *ngIf="isAdmin">
    <a class="nav-link" [routerLink]="['state']">
      <i></i>
      States
    </a>
    <ul>
      <li>
        <a [routerLink]="['state/create-state']">
          Create
        </a>
      </li>
      <li>
        <a [routerLink]="['state']">
          List
        </a>
      </li>
    </ul>
  </li>
  <li [routerLinkActive]="['link-active']" *ngIf="isAdmin">
    <a [routerLink]="['doctor']">
      Doctors
    </a>
    <ul>
      <li>
        <a [routerLink]="['doctor/create-doctor']">
          Create
        </a>
      </li>
      <li>
        <a [routerLink]="['doctor']">
          List
        </a>
      </li>
    </ul>
  </li>
  <li [routerLinkActive]="['link-active']" *ngIf="isReception">
    <a [routerLink]="['patient']">
      Patients Details
    </a>
  </li>
  <li [routerLinkActive]="['link-active']" *ngIf="isDoctor">
    <a [routerLink]="['opdDetails']">
      Opd
    </a>
  </li>

  <li [routerLinkActive]="['link-active']" *ngIf="isDoctor">
    <a routerLink="{{currentOpdLink}}">
      Toda's Opd
    </a>
  </li>
</ul>
