nav {
  display: block;
  text-align: center;
}

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

.nav a {
  display: block;
  background: #111;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
}

.nav {
  vertical-align: top;
  display: inline-block;
  box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
  border-radius: 6px;
}

  .nav li {
    position: relative;
  }

  .nav > li {
    float: left;
  }

    .nav > li > a {
    }

    .nav > li:hover, .nav > li:hover > a {
      border-bottom-color: #000;
    }

  .nav li:hover > a {
    color: #000;
  }

  .nav > li:first-child {
    border-radius: 0px 0 0 0px;
  }

    .nav > li:first-child > a {
      border-radius: 0px 0 0 0;
    }

  .nav > li:last-child {
    border-radius: 0 0 4px 0;
    margin-right: 0;
  }

    .nav > li:last-child > a {
      border-radius: 0 4px 0 0;
    }

  .nav li li a {
    z-index:1001;
    margin-top: 1px
  }



  .nav li a:first-child:nth-last-child(2):before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    top: 50%;
    right: 5px;
  }





  /* submenu positioning*/
  .nav > li > ul {
    display: none;
    position: relative;
    white-space: nowrap;
    padding: 0px;
    background: #000000;
    border-bottom: 5px solid #000;
    z-index: 1000;
  }

  .nav > li:hover > ul {
    left: auto;
    padding-top: 5px;
    min-width: 100%;
    display: block;
  }

  .nav > li li ul {
    border-left: 1px solid #fff;
    z-index: 1000;
  }


  .nav > li li:hover > ul {
    /* margin-left: 1px */
    left: 100%;
    top: -1px;
    display:block;

  }
  /* arrow hover styling */
  .nav > li > a:first-child:nth-last-child(2):before {
    border-top-color: #000;
  }

  .nav > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-bottom-color: #000;
    margin-top: -5px
  }

  .nav li li > a:first-child:nth-last-child(2):before {
    border-left-color: #000;
    margin-top: -5px
  }

  .nav li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-right-color: #000;
    right: 10px;
  }
