<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Add/Edit Patient</li>
</ol>

<div class="card mb-3">
  <div class="table-responsive">
    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
      <div class="row">
        <div class="col-sm-12">
          <mat-tab-group>
            <mat-tab label="Patient Details">
              <form [formGroup]="patientForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
                <div class="form-group row">
                  <label class=" control-label col-md-12">AdhaarCard Number</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" formControlName="adhaarCard">
                  </div>
                </div>

                <div class="form-group row">
                  <label class=" control-label col-md-12">VoterCard Number</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" formControlName="voterCard">
                  </div>
                </div>
                <div class="form-group row">
                  <label class=" control-label col-md-12">First Name</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" formControlName="firstName">
                  </div>
                  <span class="text-danger" *ngIf="firstName.invalid && formDir.submitted">
                    First Name is required.
                  </span>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-12">Last Name</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" formControlName="lastName">
                  </div>
                  <span class="text-danger" *ngIf="lastName.invalid && formDir.submitted">
                    LastName is required
                  </span>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-12">Address</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" formControlName="address">
                  </div>
                  <span class="text-danger" *ngIf="address.invalid && formDir.submitted">
                    Address is required
                  </span>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-12">City</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" formControlName="city">
                  </div>
                  <span class="text-danger" *ngIf="city.invalid && formDir.submitted">
                    city is required
                  </span>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-12" for="stateId">State</label>
                  <div class="col-md-4">
                    <select class="form-control" data-val="true" formControlName="stateId">
                      <option value="0">--Select state--</option>
                      <option *ngFor="let state of stateList"
                              value={{state.id}}>
                        {{state.name}}
                      </option>
                    </select>
                  </div>
                  <span class="text-danger" *ngIf="stateId.invalid && formDir.submitted">
                    State is required
                  </span>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-12" for="genderId">Gender</label>
                  <div class="col-md-4">
                    <select class="form-control" data-val="true" formControlName="genderId">
                      <option value="0">--Select gender--</option>
                      <option *ngFor="let gender of genderList"
                              value={{gender.id}}>
                        {{gender.name}}
                      </option>
                    </select>
                  </div>
                  <span class="text-danger" *ngIf="genderId.invalid && formDir.submitted">
                    gender is required
                  </span>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-12">phoneNumber</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" formControlName="phoneNumber">
                  </div>
                  <span class="text-danger" *ngIf="phoneNumber.invalid && formDir.submitted">
                    phoneNumber is required
                  </span>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-12">EmergencyNumber</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" formControlName="emergencyNumber">
                  </div>
                  <span class="text-danger" *ngIf="emergencyNumber.invalid && formDir.submitted">
                    emergencyNumber is required
                  </span>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-default">Save</button>
                  <button class="btn" (click)="cancel()">Cancel</button>
                </div>
              </form>
            </mat-tab>
            <mat-tab label="OPD" *ngIf="opdList?.length == 0">
              <form [formGroup]="opdForm" *ngIf="opdList?.length == 0" (ngSubmit)="saveOpd()" #formDir="ngForm" novalidate>
                <div class="form-group row">
                  <label class="control-label col-md-12" for="departmentId">Department</label>
                  <div class="col-md-4">
                    <select class="form-control" data-val="true" formControlName="departmentId" (change)="selectDepartmentHandler($event)">
                      <option value="0">--Select department--</option>
                      <option *ngFor="let department of departmentList"
                              value={{department.id}}>
                        {{department.name}}
                      </option>
                    </select>
                  </div>
                  <span class="text-danger" *ngIf="departmentId.invalid && formDir.submitted">
                    department is required
                  </span>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-12" for="doctorId">Doctor</label>
                  <div class="col-md-4">
                    <select class="form-control" data-val="true" formControlName="doctorId">
                      <option value="0">--Select doctor--</option>
                      <option *ngFor="let doctor of doctorList"
                              value={{doctor.id}}>
                        {{doctor.firstName}}
                      </option>
                    </select>
                  </div>
                  <span class="text-danger" *ngIf="doctorId.invalid && formDir.submitted">
                    doctor is required
                  </span>
                </div>
                <div class="form-group row">
                  <label class=" control-label col-md-12">OpdDate</label>
                  <div class="col-md-4">
                    <input matInput [matDatepicker]="picker" formControlName="OpdDate" placeholder="Choose Opd date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-default">SaveOpd</button>
                </div>
              </form>
            </mat-tab>
            <mat-tab label="Today OPD" *ngIf="opdList?.length > 0">
              <div>
                <div class="card-body">
                  <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                      <div class="row">
                        <div class="col-sm-12">
                          <table *ngIf="opdList" class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                              <tr>
                                <th>DoctorName </th>
                                <th>PatientName </th>
                                <th>DepartmentName </th>
                                <th>tokenNumber</th>
                                <th>opdDate</th>

                              </tr>
                            </thead>

                            <tbody>
                              <tr *ngFor="let opd of opdList | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{ opd.doctorName }}</td>
                                <td>{{ opd.patientName }}</td>
                                <td>{{ opd.departmentName }}</td>
                                <td>{{ opd.tokenNumber }}</td>
                                <td>{{ opd.opdDate }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-7">
                          <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </mat-tab>

          </mat-tab-group>
        </div>
      </div>

    </div>
  </div>
</div>
