<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Doctors</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            <a [routerLink]="['create-doctor']">Create New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table *ngIf="doctorList" class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last name</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>Phone Number</th>
                                        <th>Emergency Number</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let doc of doctorList | paginate: { itemsPerPage: 10, currentPage: p }">
                                        <td>{{ doc.firstName }}</td>
                                        <td>{{ doc.lastName }}</td>
                                        <td>{{ doc.address }}</td>
                                        <td>{{ doc.city }}</td>
                                        <td>{{ doc.phoneNumber }}</td>
                                        <td>{{ doc.emergencyNumber }}</td>
                                        <td>
                                            <a [routerLink]="['doctor/edit/', doc.id]">Edit</a> |
                                            <a [routerLink]="" (click)="delete(doc.id)">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
