<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">OPD  Details</li>
  </ol>

  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table *ngIf="opdDailyAppointmentList" class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Token Number</th>
                    <th>Patient Name</th>
                    <th>Department Name</th>
                    <th>Doctor Name</th>
                    <th>isChecked</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let opdDaily of opdDailyAppointmentList | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{ opdDaily.tokenNumber }}</td>
                    <td>{{ opdDaily.patientName }}</td>
                    <td>{{ opdDaily.departmentName }}</td>
                    <td>{{ opdDaily.doctorName }}</td>
                    <td>{{ opdDaily.isChecked }}</td>
                    <td>
                      <button mat-raised-button (click)="openDialog(opdDaily)">Opd Notes</button>
                      <button mat-raised-button (click)="openHistoryDialog(opdDaily)">Opd History</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

  <p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
  </p>

</div>
